.alerts {
  height: 40%;

  &__items {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    height: 100%;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    font-size: 0.8rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
