@import "~styles/variables.less";

.switch {
  font-weight: 500;
  color: @secondary-color;

  &__divider {
    font-weight: 500;
    margin: 0 0.3rem;
  }

  &_pointer:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:not(&_pointer) {
    text-decoration: underline;
  }
}
